@import "../../assets/sass/_mixin.sass"

section
	.info-box
		height: 100%
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
		flex-wrap: wrap
		text-align: center
		box-sizing: border-box
		position: relative
		@include screen(768px)
			padding-bottom: 10vh
		h1.title
			color: #fff
			font-size: 2em
			width: 100%
			line-height: 1.5
			font-weight: bold
			letter-spacing: .01em
			margin-bottom: 1em
		p
			color: #fff
			font-size: 1.5em
			line-height: 1.7
			width: 100%
			@include screen(768px)
				font-size: 1em
			span
				text-decoration: underline
				@include screen(768px)
					display: inline-block
					width: 100%
	.scroll-downs
		position: absolute
		right: 50%
		left: 50%
		bottom: 2em
		transform: translateX(-50%)
		width: 1.85em
		height: 2.75em
		@include screen(768px)
			transform: translateX(-50%) scale(.65)
		.mousey
			width: .15em
			padding: .5em .75em
			height: 1.75em
			border: 2px solid #fff
			border-radius: 25px
			opacity: 0.75
			box-sizing: content-box
		.scroller
			width: .15em
			height: .5em
			border-radius: 25%
			background-color: #fff
			animation-name: scroll
			animation-duration: 2s
			animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94)
			animation-iteration-count: infinite