@use "../../assets/sass/_mixin.sass" as *

section
	.info-box
		height: 100%
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
		flex-wrap: wrap
		text-align: center
		box-sizing: border-box
		position: relative
		@include screen(768px)
			padding-bottom: 10vh
		h2
			color: #fff
			font-size: 1.1em
			font-weight: normal
			letter-spacing: .03em
			@include screen(768px)
				font-size: .9em
		h1
			width: 25em
			margin: 2em 0 8em 0
			@include screen(768px)
				width: 80%
				margin: 2em 0 5em 0
		p
			color: #fff
			font-size: 1.1em
			line-height: 1.7
			letter-spacing: .03em
			width: 100%
			@include screen(768px)
				font-size: .9em
			span
				text-decoration: underline
				@include screen(768px)
					display: inline-block
					width: 100%
	.scroll-down.pc
		position: absolute
		right: 50%
		left: 50%
		bottom: 2em
		transform: translateX(-50%)
		width: 1.85em
		height: 2.75em
		@include screen(768px)
			display: none
		.mousey
			width: .15em
			padding: .5em .75em
			height: 1.75em
			border: 2px solid #fff
			border-radius: 25px
			opacity: 0.75
			box-sizing: content-box
		.scroller
			width: .15em
			height: .5em
			border-radius: 25%
			background-color: #fff
			animation-name: scroll
			animation-duration: 2s
			animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94)
			animation-iteration-count: infinite
	.scroll-down.mo
		position: absolute
		right: 50%
		left: 50%
		bottom: 4.5em
		transform: translateX(-50%)
		display: none
		@include screen(768px)
			display: block
		&::before
			content: ""
			animation: aniLine 1.8s cubic-bezier(1, 0, 0, 1) infinite
			position: absolute
			top: 0px
			left: 50%
			margin-left: -1px
			width: 2px
			height: 2em
			background: #fff
		.arrow
			display: block
			width: .5em
			height: 2em
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
			&::after
				content: ''
				display: block
				width: .4em
				height: .4em
				border-top: .1em solid #fff
				border-right: .1em solid #fff
				position: absolute
				bottom: -.35em
				left: 50%
				transform: rotate(135deg) translate(.1em,0)
				transform-origin: top center