
@use "../../assets/sass/_mixin.sass" as *

section
	.social-box
		height: 100%
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
		flex-wrap: wrap
		text-align: center
		box-sizing: border-box
		position: relative
		@include screen(768px)
			padding-bottom: 10vh
		h4
			color: #fff
			font-size: 1.1em
			letter-spacing: .03em
			@include screen(768px)
				font-size: .9em
		h3
			color: #fff
			font-size: 2em
			width: 100%
			line-height: 1.5
			font-weight: bold
			letter-spacing: .03em
			margin-bottom: 3em
			@include screen(768px)
				margin-bottom: 2.5em
				
			br
				display: none
				@include screen(768px)
					display: block
		p
			color: #fff
			font-size: 1.1em
			line-height: 1.7
			width: 100%
			letter-spacing: .03em
			@include screen(768px)
				font-size: .9em
			a
				color: #fff
				display: inline-block
				text-decoration: underline
				margin: 0 .25em
		.qrcode
			width: 8em
			margin-top: 1em
			margin-bottom: 2em
			position: relative