@charset 'utf-8'
// 字型定義
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sigmar&family=Special+Gothic+Condensed+One&display=swap")

$base_font: '微軟正黑體', Microsoft JhengHei, Apple LiGothic, '蘋果儷中黑'

@keyframes scroll
	0%
		opacity: 0

	10%
		transform: translateY(0)
		opacity: 1

	100%
		transform: translateY(.5em)
		opacity: 0